<form class="col-6 col-lg-6 offset-lg-3" >
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
    </div>
    <div class="form-group">
        <label >Employ name:</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">Experience:</label>
        <input type="text" class="form-check-input" id="exampleCheck1" name="experience">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>